.mini-menu {
    margin: 0px auto;
    max-width: 220px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #C1C1C1;

    overflow: hidden;
    font: normal 14px Helvetica, Arial, sans-serif;
}
.mini-menu ul {
    margin: 0;
    padding:0;
    list-style: none;
}
.mini-menu > ul > li {
    position: relative;
}
.mini-menu > ul > li > a {
    display: block;	
    padding: .7em 1em;	
    outline: 0;	
    border-bottom: 1px solid #EEEEEE;
    color:#000;
    text-decoration: none;	
     font-weight: normal;
}
.mini-menu > ul > li > a:hover, 
.mini-menu > ul > li > a.active {
    color:#00B22C;
}
.mini-menu .sub  ul {
    display: none;
    overflow: hidden;
    background: #eee;
border-bottom: 1px solid #000;
    }
.mini-menu .sub ul li a {
    display: block;
    padding: .7em 1em;
    color:#000;
    text-decoration: none;
    
}
.mini-menu .sub ul li a:hover,
.mini-menu .sub ul li a.active {
    background: #d8d8d8;
   color:#00B22C;
  
}
.mini-menu .sub ul li a:after{
    float: left;
    margin-right:6px;
       line-height: 12px;
}
.mini-menu .sub > a:before {
    content:'+';
    height:12px;
    width:12px;
    font-size: 1em;
    display:inline-block;
    position: absolute;
    right: 10px;
    top: 12px;
    background: #fff;
    line-height: .8em;
    color: #C1C1C1;
    text-indent: 0;
    text-align: center;
    text-shadow:none;
    font-weight: 500;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
}
/* активный переключатель */
.mini-menu .sub > a.active:before{
    color: #C1C1C1;
}
