.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 11s linear alternate infinite;
}
.path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.text
{
	transition: all 3s ease;
	fill: white;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
svg
{
	
	background-color: #C7C4B5;
}
