.fil0
{
  fill: #fff;
  stroke: black;
  stroke-width: .2%;
}
.colorM
{
  fill: #2a80c9;
}
.colorM:hover
{
  fill: #fff;
}
svg
{
  display: block;
  width: 50%;
}
.sisi:hover
{
  fill: red;
}
@media (max-width: 600px)
{
  svg
  {
    width: 100%;

  }
}