.thermLatest2
{
	opacity: 0;
	animation: thermLatest 3s ease-out forwards;
	animation-delay: 4s;

}
.thermLatest
{
	opacity: 0;
	animation: thermtext 3s ease-out forwards;
	animation-delay: 6s;

}
#datepicker-1
{
	position: absolute;
	top: 120px;
	left: 110px;
	opacity: 0;
	z-index: 10;
	width: 1px;
	height: 1px;
}

svg
{
	opacity: 0;
	width: 100%;
	animation: svgAnim 3s ease-out forwards;
	animation-delay: 1s;
}
.svgimage
{
	width: 480px;
	height: 400px;
}

.thermWrapper
{
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	width: 100%;
	color: #000;
	font-size: 12px;
}


#dollarTop
{
	animation: rot-up 1s ease-in forwards;
	transform-origin: 0% 100% 0;
	animation-delay: 5.5s;

}
#dollarBottom
{
	animation: rot-down 1s ease-in forwards;
	transform-origin: 100% 0% 0;
	animation-delay: 5.5s;
}

#halfTop
{
	transform-origin: 57.5% 15% 0;
	animation: rotHalfTop .6s ease-in infinite;
}
#halfBottom
{
	transform-origin: 62% 72% 0;
	animation: rotHalfBottom .6s ease-in infinite;
}

#scissors
{
	transform: translate(250px, 0px);
	animation: trans 4s ease-out forwards;
	animation-delay: 3.5s;
}


.weeks
{
	position: absolute;
	left: 50px;
	text-align: center;
	top: 40px;
}

.prices
{
	position: absolute;
	top: 40px;
	left: 300px;
	text-align: center;
	transition: all 1s;
}
.button
{
	width: 115px;
	height: 15px;
	background-color: green;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;
	line-height: 15px;
	transition: all 1s;
}

.thermText
{
	position: absolute;
	font-weight: 700;
	color: #fff;
	text-shadow: -3px 0px 12px #000;
	z-index: 2;
}
.howlow
{
	left: 37px;
	top: 285px;
	font-size: 65px;
}
.it
{
	left: 66px;
	font-size: 35px;
	top: 345px;
}
.will
{
	left: 335px;
	top: 285px;
	font-size: 65px;
}
.go
{
	left: 345px;
	font-size: 35px;
	top: 345px
}



#bottomTherm, #questionSymbol, .pointer, .button, .bottomTherm
{
	cursor: pointer;
}
.prices *
{
	opacity: 0;
}
.prices #button1
{
	opacity: 1;
}
.prices #button7
{
	opacity: .8;
}


#button1 
{
	background-color: #B3D234;
}
#button2 
{
	background-color:#D5BD28;
}
#button3 
{
	background-color: #F6F188;
}
#button4 
{
	background-color: #FCCD15;
}
#button5 
{
	background-color: #E89121;
}
#button6 
{
	background-color: #E45E24;
}
#button7 
{
	background-color: #EE1D23;
}






.st0{fill:#565759;}
.st1{fill:#E6E7E9;}
.st2{fill:#F4B3CD;}
.st3{fill:#E41F29;}
.st4{fill:#FFFFFF;}
.st5{opacity:0.18;fill:#FFFFFF;}
.st6{fill:#1D1D1B;stroke:#1D1D1B;stroke-miterlimit:10;}
.st7{opacity:0.12;fill:#FFFFFF;}
.st8{fill:#FFFFFF;stroke:#000000;stroke-width:0.25;}
.st9{fill:#D8D6D6;stroke:#000000;stroke-width:0.25;}
.st10{opacity:0.24;fill:#AEA5A5;}
.st11{fill:#081811;stroke:#000000;stroke-width:0.25;}
.st12{fill:#78160E;}
.st13{fill:#AA1917;}
.st14{fill:#D21317;}
.st15{fill:#1C6AAF;}
.st16{fill:#004F8B;}
.st17{fill:#A8A8A7;}
.st18{fill:url(#SVGID_1_);}
.st19{fill:#D1D1D1;}
.st20{fill:#7A7A7A;}
.st21{fill:url(#SVGID_2_);}




@keyframes rotHalfTop {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(20deg);

	}
	0% {
		transform: rotate(0deg);
	}

}

@keyframes rotHalfBottom {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-20deg);

	}
	0% {
		transform: rotate(0deg);
	}

}


@keyframes trans {
	
	100% {
		transform: translate(-600px, 15px);

	}

}

@keyframes rot-up {
	0% {
		transform: rotate(0deg);
	}
	100% {

		transform: rotate(-90deg) translateX(150px);

	}

}

@keyframes rot-down {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-90deg) translateX(-200px);
	}

}

@keyframes svgAnim {
	0% {
		transform: scale(.02);
	}
	3%
	{
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}

}
@keyframes thermLatest {
	0% {
		transform: scale(.02);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}

}
@keyframes thermtext {

	100% {
		
		opacity: 1;
	}
}