
#mapwrapper {
	max-width: 3920px;
	margin: 0 auto;
	padding: 0 0;
	background-color: transparent;
	min-width: 220px;
}
#map_base svg {
	max-height: 100%;
	width: 100%;
	margin: 0;
}
@media screen and (max-width: 320px){
	#map_base svg {
		height:320px;
	}
}
@media screen and (max-width: 400px) and (min-width: 321px) {
	#map_base svg {
		height:400px;
	}
}
@media screen and (max-width: 480px) and (min-width: 401px) {
	#map_base svg {
		height:480px;
	}
}
@media screen and (max-width: 568px) and (min-width: 481px) {
	#map_base svg {
		height:570px;
	}
}
@media screen and (max-width: 685px) and (min-width: 569px) {
	#map_base svg {
		height:685px;
	}
}
@media screen and (max-width: 767px) and (min-width: 686px) {
	#map_base svg {
		height:767px;
	}
}
@media screen and (max-width: 979px) and (min-width: 768px) {
	#map_base svg {
		height:979px;
	}
}
@media screen and (max-width: 1024px) and (min-width: 980px) {
	#map_base svg {
		height:1024px;
	}
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
	#map_base svg {
		height:1280px;
	}
}
@media screen and (max-width: 1380px) and (min-width: 1281px) {
	#map_base svg {
		height:1380px;
	}
}
@media screen and (max-width: 2380px) and (min-width: 1381px) {
	#map_base svg {
		height:1780px;
	}
}
@media screen and (max-width: 3080px) and (min-width: 2381px) {
	#map_base svg {
		height:2580px;
	}
}
@media screen and (min-width: 3081px) {
	#map_base svg {
		height:3480px;
	}
}

#map-tip {
	font: 18px/20px Trebuchet MS, Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 2px black, 0 0 1em #000;
	display: none;
	padding: 3px;
	border: 1px solid #EBECED;
	color: #edeef0;
	z-index: 1000;
	float: left;
	position: absolute;
	/*gradient color*/
	background: rgb(124,179,66);
	/*background: -moz-linear-gradient(top, rgba(124,179,66, 1)0%, rgba(101, 101, 101, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0rgba(124,179,66, 1)), color-stop(100%, rgba(101, 101, 101, 1)));
	background: -webkit-linear-gradient(top, rgba(124,179,66, 1) 0%, rgba(101, 101, 101, 1) 100%);
	background: -o-linear-gradient(top, rgba(124,179,66, 1) 0%, rgba(101, 101, 101, 1) 100%);
	background: -ms-linear-gradient(top, rgba(124,179,66, 1) 0%, rgba(101, 101, 101, 1) 100%);
	background: linear-gradient(to bottom, rgba(124,179,66, 1) 0%, rgba(101, 101, 101, 1) 100%);*/
	word-break: keep-all;
	white-space: nowrap;
}
#map-tip p {
	margin: 0!important;
}
#map-tip img {
	float: left;
	padding: 3px;
}