/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
/*body{ font-family:Arial; }*/
/*body{ padding:0; margin:0;}*/

.main-div {
    background:#A8D2EA;
    min-height: 38px;
    margin-top: -1px;
}
svg {
    fill: transparent;
    opacity: 1;
    stroke: tranparent;
    position: relative}
.circle {
    background: #000;
    fill: #8A8A8A;
    transition: stroke 0.3s, fill 0.3s;
}
.m_body {
   /*background-color: #a8d2ea;margin-bottom: -5px;*/
    height: auto;
    width: auto; 
    
}

.m_body-hide{background:#fff;margin-top: -2.8em; position:absolute; z-index:1; width:100%; min-height: 50px;}
/*.prestige:hover {
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;
    fill: rgba(51, 51, 51, 0.57);
}*/


.community2{fill: #8A8A8A;}
.cove2{fill: #8A8A8A;}
.prestige2 {fill: #8A8A8A;}
.ocean_view2 {fill: #8A8A8A;}
.coastal2 polygon {fill: #634c28; cursor:default !important;}
.coastal2 polygon:hover{fill: #634c28; cursor:default !important;}

.coastal3 polygon{fill: #4b4b4b;}
.coastal3 polygon:hover{fill: #4b4b4b; cursor:default !important;}


.circle2 { background: #000;
fill: #8A8A8A;transition: stroke 0.3s, fill 0.3s;}
.park {fill:#638761;}
.park polygon:hover{fill:#638761; cursor:default !important;}
/*.coastal2 polygon:hover{}*/
.font-style{ font-style:italic; font-size:50px; letter-spacing:1px; fill:#E4E2E0;}
.wrap {
   margin: 0px auto;
    width: 100%;
    max-width: 100%;
    position: relative;
}
.a_border-waves{
   /*height:18px; width:100%; position:absolute;  bottom: -4px;
    background-position: top;
    z-index: 20;
    background: url("../images/border-wave.svg") top left repeat-x;*/
}

.group_btn {position:absolute;width:100%;bottom: 25px;text-align:center;z-index:99999;text-transform: uppercase;} 
.group_btn ul { margin:0; padding:0;}
.group_btn ul li {display:inline-block;height: 20px;padding: 0px 5px;color:#000;font-weight:bold;font-size: 0.75em;font-family:Arial;}
.group_btn ul li a {/* text-align:center; */text-decoration:none; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;padding: 0px 0px;font-size: 0.85em;line-height: 13px;margin-right: 15px;}

.group_btn ul li p {/* display:block; */width: 14px;height: 14px;margin-right:10px;float:left;}
.hst {font-size: 0.55em !important;color: #7D7B7B !important; font-style:italic; font-weight:normal;}

.article--page.border-waves:before{ display:none;}
.popup_list {
    margin-left: 9px;
    /* margin: 0; */
    padding: 0px 10px;
}
.popup_list li { display:inline-block;padding: 2.1%; margin-bottom:/*5px; border-bottom: solid 1px #efefef; */font-weight: 400;font-family: arial;    font-size: 14px;    line-height: 1.42857143 !important;}
.popup_list li b {font-size: 1em; color:#999; font-weight:normal !important; display:block; /*margin-bottom:5px;*/     line-height: 1.42857143 !important;}
.half {width:48%; float:left;}
.full { width:auto;}

.price_box { font-weight:bold;color:#090;line-height: 1.6em;font-size: 1.5em;/*padding: 0.2em 0.7em;*/}

.half_border {
    padding: 2.1%;
    margin: 11px 10px 0;
    width: 90%;
    /* padding-left: 20px; */
    /* background: #cfcfcf; */
    border-top: 1px solid #cfcfcf;
   
}
.m1{ margin-top: -15px;}
.m2{ margin-left:5px;}
.sold_out {
    
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
    background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
    background-color:#fe1a00;
    border:1px solid #d83526;
    display:inline-block;
    /*cursor:pointer;*/
    text-decoration:none !important;
    color:#ffffff !important;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding: 0.6em 4em;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
/*.sold_out:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
    background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
    background-color:#ce0100;
}
.sold_out:active {
    position:relative;
    top:1px;
}*/

.c_black{ color:#000000 !important;font-size: 0.80em !important; padding-left:2px !important; font-weight:bold;}
.lot_box {font-weight:bold;color: #080808;/* line-height: 1.6em; *//* font-size: 1.5em; *//* padding: 0.12em 0.5em; *//* display: block; */    font-size: 14px !important;}
.circle2:hover,
/*polygon:hover*/  {
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;
    /*fill: rgba(51, 51, 51, 0.57);*/
	fill:#626262;
	cursor:pointer !important;
}
.community2:hover,
.cove2:hover,
.ocean_view2:hover,
.prestige2:hover {
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;
    /*fill: rgba(51, 51, 51, 0.57);*/
	fill:#c9bc40;
	cursor:pointer !important;
}
.park polygon g text:hover{
    cursor: default;
}
.polygon g text:hover{
    cursor: pointer;
}

/*.park polygon:hover{fill:#638761;}
.coastal2:hover,
.community2:hover,
.cove2:hover,
.prestige2:hover,
.ocean_view2:hover,
.circle2:hover,
polygon:hover  {
   -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;
    
    fill:#626262;
}*/


.p {
    font-family: Arial, sans-serif;
    text-align: center;
}
text {
    letter-spacing: 0px;
    text-shadow: 1px 1px 1px #333;


}
.overlay: target {
    visibility: visible;
    opacity: 1;
}
.popup {
    width: 100%;
    /*font-family: 'Open Sans', sans-serif !important;*/
    color: #000;
}
.prestige {
    fill: #189E5B;
}
.prestige_s {
    background: #189E5B;
}
.coastal {
    fill: olive;
}
.costal_s {
    background: olive;
}
.ocean_view {
    fill: #963F3F;
}
.ocean_view_s {
    background: #963F3F;
}
.cove {
    fill: #89AB43;
}
.cove_s {
    background: #89AB43;
}
.community {
    fill: #D4B25A;
}
.community_s {
    background: #D4B25A;
}

.sold {
    background: #8A8A8A;
}
.popup h4 {
    font-size: 1em;
    text-transform: capitalize;
    background: #4B4E44;
    color: #fff;
    margin-top: 0;
    line-height: 1.5em;
    /* border-bottom: solid 3px #4B4E44; */
    padding: 12px 30px 12px 20px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;letter-spacing: 0px !important;margin-bottom: 10px !important;
}
.zoomin {
    height: 200px;
    width: 200px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.popup h2 {
    border-bottom: 1px solid #006633;
    padding-bottom: 10px;
    margin-top: 0px;
    width: 90%;
    float: left;
}
.close_btn {
   text-align: center;
   width: 46px;
   /* height: 20px; */
   cursor: pointer;
   font-size: 50px;
   text-decoration: none;
   text-decoration:none !important;
   padding: 0px 5px 7px 8px;
   color: #fff !important;
   border-left: solid 1px #B3AB54;
   background: #958e40;
   position: absolute;
   z-index: 1;
   top: 0px;
   right: 0px;
   line-height: 41px;
}

.close {
    position: absolute;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.sold {
    fill: rgba(69, 74, 53, 0.49);
}
.map g {
    position: relative;
}
.map g:hover {
    cursor: default;
}

.label {font-weight:normal !important;font-size:90% !important;padding: .5em .6em .3em !important;margin-right: 0.4em;    margin-bottom: 0.6em !important;
    display: inline-block;    background-color: #5bc0de;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;}

.map {
      background:url(../images/map_b42.jpg) no-repeat top center;
   /*background-size: 100% 98.9%;*/ background-size:contain;
    position: relative;
}
.btn-success {
    margin: 7px 8px;
    padding: 0px 10px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;display:none;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop,.modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.modal {
    position: fixed;
    left: 5% !important;
    right:auto;
    bottom:auto;
    height: auto;
    z-index: 99999;
    width: 100%;
    padding: 0 !important;
    max-width: 384px;
    outline: none;
    border: none;
    background-color: #ffffff;
   /* border: 1px solid #999;*/
}

.modal-content {
    position: relative;
   /* overflow: hidden;*/
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
     border: 0; 
    
     border-radius: 0px; 
    outline: 0;
     -webkit-box-shadow:none; 
     box-shadow:none; 
}
.modal-dialog {
    position: relative;
    width: auto;
     margin:0px; 
}
#myModal{  border: 1px solid #999;}
.modal.fade {
    top:15%;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.fade.in {
    top: 5%; font-family: 'Open Sans', sans-serif;
}
.modal-body {
    position: relative;
    max-height: 400px;
    padding: 0px;
    overflow-y: auto;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    outline: none;
    border: none;
}
.list-group-item:first-child {
}
.list-group-item:first-child {
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item {
    position: relative;
    display: block;
    font-size: 0.90em;
    padding: 8px 10px;

    background: #ffffff;
    border-top: 1px solid #efefef;
}
.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #9acc85;
    /* -webkit-box-shadow: inset 0px 1px 0px 0px #9acc85; */
    /* box-shadow: inset 0px 1px 0px 0px #9acc85; */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b)); */
    background: -moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    /* background: -webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%); */
    background: -o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: -ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    /* background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color: #51621b;
    border: 1px solid #4a5a19;
    display: inline-block;
    text-decoration:none !important;
    cursor: pointer;
    color: #ffffff !important;
    font-family: Arial;
    font-size: 12px;
    width: 100%;
    /* font-weight: bold; */
    padding: 6px 12px;
    text-decoration: none;
    margin-bottom: 15px;
}
.myButton:hover {
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);*/
    background-color:#51621b;  border: 1px solid #4a5a19;
}
.myButton:active {
    position:relative;
    top:1px;
}
.download_img {
    width: 16px;
    height: 18px;
    margin-right: 3px;
}
.contact_realtor {
    background: #1cd100;
    background: -moz-linear-gradient(top, #1cd100 0%, #2aa501 47%, #088402 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1cd100), color-stop(47%,#2aa501), color-stop(100%,#088402));
    background: -webkit-linear-gradient(top, #1cd100 0%,#2aa501 47%,#088402 100%);
    background: -o-linear-gradient(top, #1cd100 0%,#2aa501 47%,#088402 100%);
    background: -ms-linear-gradient(top, #1cd100 0%,#2aa501 47%,#088402 100%);
    background: linear-gradient(to bottom, #1cd100 0%,#2aa501 47%,#088402 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1cd100', endColorstr='#088402',GradientType=0);
    border: 1px solid #6bf000;
    border-radius: 6px;
    color: #fff !important;
    text-decoration: none !important;
    padding: 6px 12px;
    font-weight: bold;
    font-family: Arial;
        font-size: 13px;
    text-shadow: #000 1px 1px 1px;
    border-radius: 0px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .m_body-hide{ min-height: 25px;}
    .map {margin-top: -1.3em;}
}
    
@media (min-width: 768px) and (max-width:1024px) {
    .m_body-hide{ min-height: 24px;}}   

@media all 
and (min-device-width : 320px) 
and (max-device-width : 667px)
and (orientation : portrait)
 {
 .group_btn{    bottom: 0px;}   
 .group_btn ul li{height: 14px;
    font-size: 0.65em;}
    .group_btn ul li p{    margin-bottom: 2px !important;
    line-height: 1.1 !important;    width: 10px;
    height: 10px;}
    nav.navbar.navbar-default.navbar-fixed-top {
    z-index: 999999;
}
#page-top > footer > div > div > div.col-sm-2 > img{    max-width: 119px;}   
#page-top > div.m_body > div{margin-top: 16px;}
}

@media all 
and (min-device-width : 320px) 
and (max-device-width : 667px)
and (orientation : landscape)
 {
.group_btn{    bottom: 0px;}   
 .group_btn ul li{height: 14px;
    font-size: 0.65em;}
    .group_btn ul li p{    margin-bottom: 2px !important;
    line-height: 1.1 !important;    width: 10px;
    height: 10px;}
    nav.navbar.navbar-default.navbar-fixed-top {
    z-index: 999999;
}
#page-top > footer > div > div > div.col-sm-2 > img{    max-width: 119px;}   
#page-top > div.m_body > div{margin-top: 16px;}
 }

 @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .map{    margin-top: 7em;}  
}

 @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {.map{    margin-top: -18px;}
nav.navbar.navbar-default.navbar-fixed-top{    background: #fff;
    padding-bottom: 0px;
    padding-top: 10px;}}

@media only screen 
and (min-width : 1600px) {
    .map{    margin-top: -1.8em;}
}    

@media only screen 
and (min-width : 1900px) {
    nav.navbar.navbar-default.navbar-fixed-top{    background: #fff;
    padding-bottom: 0px;}
}
@media screen and (max-width: 767px) {
.a_border-waves { bottom: -8px;}	
/*.map {background-size: contain;}*/
	}
	
